.canvas-wrapper {
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
}
.canvas-wrapper canvas {
	width: 100%;
	height: auto;
	border: 1px solid #d62323;
	display: block;
	box-sizing: border-box;
}
.canvas-wrapper {
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	max-width: 636px;
	box-sizing: border-box;
}
