/* 2. Pas Helvetica toe op de gehele navbar */
nav {
	font-family: "Helvetica", sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0 0 1rem;
	border: 1px solid #d62323;
	border-top: none;
	height: 7.2vh;
	font-weight: 300;
}

/* 3. Link zonder onderstreping, standaard styling */
nav a {
	text-decoration: none;
}

.home-link {
	color: #d62323;
	font-size: 35px;
	margin-top: 12px;
}

/* 5. Algemene linkstijl */
.nav-link {
	color: #495057;
	font-weight: 400;
	margin-left: 1rem;
}

/* 6. Actieve link styling */
.nav-link.active {
	color: #007bff;
	font-weight: 600;
}
